In [ ]:
import pandas as pd
import numpy as np
import scipy.io
import pandas as pd
import random
from sklearn.preprocessing import StandardScaler
random.seed(1)

# Read

In [ ]:
xls = pd.ExcelFile('LSVT_voice_rehabilitation.xlsx')  # pd.read_excel("LSVT_voice_rehabilitation.xlsx") will only read the 1st sheet
df1 = pd.read_excel(xls, 'Data')
df2 = pd.read_excel(xls, 'Binary response')

Check data for initial 5 samples

In [ ]:
df1.head()

,Jitter->F0_abs_dif,Jitter->F0_dif_percent,Jitter->F0_PQ5_classical_Schoentgen,Jitter->F0_PQ5_classical_Baken,Jitter->F0_PQ5_generalised_Schoentgen,Jitter->F0_abs0th_perturb,Jitter->F0_CV,Jitter->F0_TKEO_mean,Jitter->F0_TKEO_std,Jitter->F0_TKEO_prc5,...,det_TKEO_std4_1_coef,det_TKEO_std4_2_coef,det_TKEO_std4_3_coef,det_TKEO_std4_4_coef,det_TKEO_std4_5_coef,det_TKEO_std4_6_coef,det_TKEO_std4_7_coef,det_TKEO_std4_8_coef,det_TKEO_std4_9_coef,det_TKEO_std4_10_coef
0,0.088112,0.041697,0.000480,-3.723304e-06,0.000422,2.458381,6.332164e-07,47.021079,1366.430390,-7.103323,...,2.527583,7.088978,19.753255,54.335046,145.528630,375.097397,921.296579,2137.079844,4697.131077,9931.208257
1,0.161798,0.057364,0.000677,5.466365e-06,0.000206,2.592066,7.228518e-07,93.557936,2582.922776,-23.284761,...,2.841881,7.977363,22.203504,60.993338,163.560972,421.010306,1036.092589,2404.072562,5284.082128,11165.095662
2,0.554508,0.642913,0.007576,-7.443871e-07,0.006488,12.691326,6.946246e-04,52.988422,466.682635,-45.308680,...,1.806103,5.078616,14.135923,38.641654,103.466808,264.654626,649.657090,1507.384591,3315.804236,6974.600636
3,0.031089,0.027108,0.000314,-2.214722e-07,0.000216,0.754288,1.868647e-07,13.982754,417.217249,-1.207741,...,1.999637,5.610448,15.626164,42.943275,115.014975,296.320795,728.284936,1689.586636,3713.818933,7851.139360
4,0.076177,0.039071,0.000302,2.732106e-05,0.001102,1.270034,4.918186e-05,56.373996,1608.317410,-3.491990,...,2.453087,6.902199,19.117609,52.715873,141.113865,363.511021,893.246151,2071.625622,4554.204815,9623.566242

In [ ]:
df2.head()

   Binary class 1=acceptable, 2=unacceptable
0                                          1
1                                          2
2                                          2
3                                          1
4                                          2

In [ ]:
df1.shape, df2.shape

((126, 310), (126, 1))

# Description for each column

In [ ]:
df1.describe()

,Jitter->F0_abs_dif,Jitter->F0_dif_percent,Jitter->F0_PQ5_classical_Schoentgen,Jitter->F0_PQ5_classical_Baken,Jitter->F0_PQ5_generalised_Schoentgen,Jitter->F0_abs0th_perturb,Jitter->F0_CV,Jitter->F0_TKEO_mean,Jitter->F0_TKEO_std,Jitter->F0_TKEO_prc5,...,det_TKEO_std4_1_coef,det_TKEO_std4_2_coef,det_TKEO_std4_3_coef,det_TKEO_std4_4_coef,det_TKEO_std4_5_coef,det_TKEO_std4_6_coef,det_TKEO_std4_7_coef,det_TKEO_std4_8_coef,det_TKEO_std4_9_coef,det_TKEO_std4_10_coef
count,126.000000,126.000000,126.000000,1.260000e+02,126.000000,126.000000,1.260000e+02,126.000000,126.000000,126.000000,...,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,0.225683,0.119056,0.001385,-6.951801e-07,0.001061,6.937604,1.660453e-04,82.190214,1796.302230,-39.411240,...,2.500256,7.014055,19.557608,53.680942,143.774055,370.528329,912.494576,2116.358203,4649.660947,9813.389954
std,0.345839,0.180097,0.002124,1.573954e-05,0.001836,24.275232,8.712998e-04,106.894449,1631.244809,98.188655,...,0.361334,1.008572,2.797453,7.698152,20.468616,52.836331,129.246368,296.400010,653.497584,1365.084335
min,0.020443,0.013830,0.000159,-5.832686e-05,0.000060,0.548917,7.679846e-08,13.319091,269.922782,-624.951034,...,1.766418,4.982477,13.914344,38.394547,103.466808,264.654626,649.657090,1507.384591,3216.625092,6700.842161
25%,0.057713,0.028676,0.000320,-5.121154e-06,0.000248,1.158230,4.132032e-07,29.760987,807.453611,-23.075601,...,2.229724,6.245229,17.537973,48.138723,128.924436,331.900606,818.097730,1888.120153,4148.651943,8760.159506
50%,0.103926,0.048597,0.000521,-2.050570e-06,0.000389,2.012467,9.491368e-07,52.594076,1356.767272,-8.833890,...,2.470691,6.942224,19.302296,53.133665,141.675948,366.706743,902.870861,2096.309958,4597.088099,9741.107531
75%,0.192672,0.126339,0.001487,1.938132e-06,0.001029,3.251788,9.886929e-06,91.694761,2380.748968,-4.115575,...,2.705275,7.616985,21.192552,58.065123,155.552562,400.947223,988.909310,2292.902649,5037.683060,10633.458586
max,2.069748,0.933265,0.010925,9.082689e-05,0.010443,218.686963,7.890252e-03,906.320483,12299.065627,-0.603839,...,3.457911,9.705655,26.997531,73.998459,198.333548,510.827346,1257.014110,2916.248441,6406.074011,13537.402516

In [ ]:
df2.describe()

       Binary class 1=acceptable, 2=unacceptable
count                                 126.000000
mean                                    1.666667
std                                     0.473286
min                                     1.000000
25%                                     1.000000
50%                                     2.000000
75%                                     2.000000
max                                     2.000000

# Checking if NAN values

In [ ]:
c = df1.count()
for i in c: # prints how many non-NAN values are there for each column
    print(i)

126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126
126

In [ ]:
df2.count()

Binary class 1=acceptable, 2=unacceptable    126
dtype: int64

# Converting to numpy

In [ ]:
X = df1.to_numpy()
print(X.shape)

for j in range(X.shape[0]):  # verifying that no data was lost
    for ix, i in enumerate(df1.iloc[j]):
        if i!=X[j, ix]:
            print("Issue")
print("Done")

(126, 310)
Done

In [ ]:
Y = df2.to_numpy()  # then you may need to convert output label 2 to 0 or -1 if the library to-be-used demands so.
print(Y.shape)

(126, 1)

In [ ]:
ones = np.ones((126, 1))
X2 = np.square(X)
X = np.concatenate((X, X2), axis=1)
X = np.concatenate((ones, X), axis=1)

In [ ]:
scaler = StandardScaler()
X = scaler.fit_transform(X, Y)

In [ ]:
id_list = list(range(len(X)))
random.shuffle(id_list)
id_train = id_list[0:63]
print(len(id_train))
id_test = id_list[63:]
print(len(id_test))

63
63

In [ ]:
X_train = X[id_train]
print(X_train.shape)
Y_train = Y[id_train]
print(Y_train.shape)

(63, 621)
(63, 1)

In [ ]:
X_test = X[id_test]
print(X_test.shape)
Y_test = Y[id_test]
print(Y_test.shape)

(63, 621)
(63, 1)

In [ ]:
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [ ]:
per = Perceptron()
per.fit(X_train, Y_train.ravel())
Y_pred = per.predict(X_test)
print(accuracy_score(Y_test, Y_pred))

0.6031746031746031

In [ ]:
log_reg = LogisticRegression(solver='lbfgs', max_iter=1000)
log_reg.fit(X_train, Y_train.ravel())
Y_pred = log_reg.predict(X_test)
print(accuracy_score(Y_test, Y_pred))

0.8253968253968254